{% extends "base.html" %}

{% block content %}

<section class="my-5">
    <div class="container-lg h-100">
        <div class="col-lg-12">
            <div class="card rounded-lg h-100 border-dark">
                <div class="card-header text-white bg-black">
                    <h3>Player List</h3>
                </div>
                <div class="card-body bg-light">
                    <div class="container-lg">
                        <div class="col-lg-12">
                            <div class="card rounded-lg h-100">
                                <div class="card-header text-white bg-black">
                                    <form class="float-lg-right my-auto"
                                          action="{% url 'athletes' 1 %}"
                                          method="post">
                                        <div class="form-row align-items-center">
                                            <div class="col-auto">
                                                <label class="sr-only" for="inlineFormInput">Name</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Name"
                                                       name="target_name">{% csrf_token %}
                                            </div>
                                            <div class="col-auto">
                                                <label class="sr-only" for="inlineFormInput">Club</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Club"
                                                       name="target_club">{% csrf_token %}
                                            </div>
                                            <div class="col-auto">
                                                <label class="sr-only" for="inlineFormInput">Nationality</label>
                                                <input type="text"
                                                       class="form-control"
                                                       placeholder="Nation"
                                                       name="target_nation">{% csrf_token %}
                                            </div>
                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-light">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-body bg-light">
                                    <div class="container-lg">
                                        <div class="col-lg-12">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr class="text-center">
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Club</th>
                                                        <th scope="col">Logo</th>
                                                        <th scope="col">Age</th>
                                                        <th scope="col">Nationality</th>
                                                        <th scope="col">Flag</th>
                                                        <th scope="col">Position</th>
                                                        <th scope="col">Foot</th>
                                                        <th scope="col">Overall</th>
                                                        <th scope="col">Detail</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for each in players_2022 %}
                                                    <tr class="text-center">
                                                        <td>{{each.name}}</td>
                                                        <td>{{each.club}}</td>
                                                        <td><img src="{{each.logo}}"></td>
                                                        <td>{{each.age}}</td>
                                                        <td>{{each.nationality}}</td>
                                                        <td><img src="{{each.flag}}"></td>
                                                        <td>{{each.position}}</td>
                                                        <td>{{each.foot}}</td>
                                                        <td>{{each.overall}}</td>
                                                        <td>
                                                            <a href="{% url 'player_detail' each.id %}"
                                                               class="btn btn-sm btn-block bg-black text-white">DETAIL</a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-12">
                                            <button type="button"
                                                    class="btn bg-black text-white w-100"
                                                    data-toggle="modal"
                                                    data-target="#paginationModal">Pagination</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade"
     id="paginationModal"
     data-backdrop="static"
     data-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Current Page:{{players_2022.number}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless">
                    <tbody>
                        {% for index in players_2022.paginator.page_range %}
                            {% if index|add:-1|divisibleby:4 %}
                                <tr class="text-center">
                            {% endif %}
                                    {% if index == players_2022.number %}
                                        <td class="btn-sm btn-warning disabled rounded-0 text-secondary">
                                            <a class="text-dark">{{ index }}</a>
                                        </td>
                                    {% else %}
                                        <td class="btn-sm btn-dark rounded-0 bg-black">
                                            <a class="text-white" href="{% url 'athletes' index %}">{{ index }}</a>
                                        </td>
                                    {% endif %}
                            {% if index|divisibleby:4 %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}