{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="my-5">
    <div class="container-lg h-100">
        <div class="row">
            <div class="col-12 text-white text-center">
                <h1 class="display-2">Welcome!</h1>
                <h1 class="display-3">To the world of Football</h1>
            </div>
        </div>
        <div class="row justify-content-center my-5">
            <div class="col-2">
                <a class="btn btn-light" href="{% url 'homepage' %}">Go to Homepage</a>
            </div>
        </div>
    </div>
</section>


{% endblock %}