{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="my-5">
    <div class="container-lg h-100">
        <div class="col-lg-12">
            <div class="card rounded-lg h-100">
                <div class="card-header text-white bg-black">
                    <h3 class="float-left">Iniesta</h3>
                    <a href="{% url 'similarity' %}" class="btn btn-light float-right mx-2 text-dark">Find Similar Player</a>
                    <button type="button"
                            class="btn btn-light float-right mx-2 text-dark"
                            data-toggle="modal"
                            data-target="#prediction">
                        Future Prediction
                    </button>
                </div>
                <div class="card-body bg-black h-100">
                    <div class="container-lg">
                        <div class="row card-deck">
                            <div class="col-5">
                                <div class="card">
                                    <div class="card-body bg-white rounded-lg">
                                        <div class="container-lg">
                                            <div class="row">
                                                <div class="col-6">
                                                    <img class="shadow w-100 rounded-circle"
                                                         src="https://cdn.sofifa.com/players/000/041/22_60.png">
                                                </div>
                                                <div class="col-6 float-right">
                                                    <h5>AGE:37</h5>
                                                    <h5>Pos: CAM</h5>
                                                    <h5>Overall:79</h5>
                                                    <h5>Foot:Right</h5>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="text-center col-12 my-2">
                                                    <h2>Detail Status</h2>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-10 offset-1 border-dark">
                                                    <form>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                            <label class="form-check-label" for="defaultCheck1">
                                                                Default checkbox
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                            <label class="form-check-label" for="defaultCheck1">
                                                                Default checkbox
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                            <label class="form-check-label" for="defaultCheck1">
                                                                Default checkbox
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                            <label class="form-check-label" for="defaultCheck1">
                                                                Default checkbox
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                            <label class="form-check-label" for="defaultCheck1">
                                                                Default checkbox
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                            <label class="form-check-label" for="defaultCheck1">
                                                                Default checkbox
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                            <label class="form-check-label" for="defaultCheck1">
                                                                Default checkbox
                                                            </label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7"></div>
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="card bg-black h-100">
                                    <div class="card-header">
                                        <h2 class="text-white">Player Info Display</h2>
                                    </div>
                                    <div class="card-body h-100">
                                        <div id="player-info-charts"
                                             class="h-100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="prediction" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Prediction for Iniesta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mx-4">
                    <div class="col-4">
                        <img class="shadow w-100 rounded-circle my-3"
                             src="https://cdn.sofifa.com/players/000/041/22_60.png">
                        <h5>AGE:37</h5>
                        <h5>Pos: CAM</h5>
                        <h5>Overall:79</h5>
                        <h5>Foot:Right</h5>
                    </div>
                    <div class="col-8">
                        <div style="overflow: scroll; max-height: 300px">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Feature</th>
                                        <th scope="col">Rating</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="col">Sprint:</th>
                                        <th scope="col">56</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Sprint:</th>
                                        <th scope="col">56</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Sprint:</th>
                                        <th scope="col">56</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Sprint:</th>
                                        <th scope="col">56</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Sprint:</th>
                                        <th scope="col">56</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Sprint:</th>
                                        <th scope="col">56</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Sprint:</th>
                                        <th scope="col">56</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Sprint:</th>
                                        <th scope="col">56</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Sprint:</th>
                                        <th scope="col">56</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
var chartDom = document.getElementById('player-info-charts');
var myChart = echarts.init(chartDom);
var option;

option = {
  radar: {
    // shape: 'circle',
    indicator: [
      { name: 'Sales', max: 6500 },
      { name: 'Administration', max: 16000 },
      { name: 'Information Technology', max: 30000 },
      { name: 'Customer Support', max: 38000 },
      { name: 'Development', max: 52000 },
      { name: 'Marketing', max: 25000 }
    ]
  },
  series: [
    {
      name: 'Budget vs spending',
      type: 'radar',
      data: [{
          value: [5000, 14000, 28000, 26000, 42000, 21000],
          name: 'Actual Spending'
        }
      ]
    }
  ]
};

myChart.setOption(option);

</script>

{% endblock %}