{% extends "base.html" %}

{% block content %}

<section class="my-5">
    <div class="container-lg h-100">
        <div class="col-lg-12">
            <div class="card rounded-lg h-100">
                <div class="card-header text-white bg-black border-dark">
                    <h3>Similar player with {{ target_player_basic.name }}</h3>
                </div>
                <div class="card-body bg-light">
                    <div class="container-lg">
                        <div class="col-lg-12">
                            <div class="card rounded-lg h-100">
                                <div class="card-header text-white bg-black py-4"></div>
                                <div class="card-body bg-light">
                                    <div class="container-lg">
                                        <div class="col-lg-12">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr class="text-center">
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Club</th>
                                                        <th scope="col">Logo</th>
                                                        <th scope="col">Age</th>
                                                        <th scope="col">Nationality</th>
                                                        <th scope="col">Flag</th>
                                                        <th scope="col">Position</th>
                                                        <th scope="col">Foot</th>
                                                        <th scope="col">Smilarity</th>
                                                        <th scope="col">Detail</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for each in similar %}
                                                    <tr class="text-center">
                                                        <td>{{each.name}}</td>
                                                        <td>{{each.club}}</td>
                                                        <td><img src="{{each.logo}}"></td>
                                                        <td>{{each.age}}</td>
                                                        <td>{{each.nationality}}</td>
                                                        <td><img src="{{each.flag}}"></td>
                                                        <td>{{each.position}}</td>
                                                        <td>{{each.foot}}</td>
                                                        <td>{{each.similarity|floatformat}}</td>
                                                        <td>
                                                            <a href="{% url 'player_detail' each.id %}"
                                                               class="btn btn-sm btn-block bg-black text-white">DETAIL</a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}